body{
  background-color: #ecd8b2;
}

.lightbox-modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.85);
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.lightbox-modal img {
  max-width: 95vw;
  max-height: 95vh;
}

.gallery-img {
  cursor: crosshair;
}

.site-logo {
  width: 20%;       /* or any size */
  max-width: 200px; /* optional cap */
  height: auto;     /* keeps proportions */
  display: block;   /* make the image a block element */
  margin-left: auto; /* auto margins on the left */
  margin-right: auto; /* auto margins on the right */
}