{{ define "main" }}
<section class="main">
  <div class="container">
    <div class="row">
      <div class="col">
        {{ partial "title" . }}
        <div class="py-3">{{ .Content | markdownify }}</div>
      
      </div>
    </div>
    <div class="row">
      {{- $images := .Resources.ByType "image" -}}
{{ range $img := $images }}

  {{ $full := $img }} <!-- original full-size -->
  {{ $thumb := $img }}

  {{ if gt $img.Width $img.Height }}
    {{ $thumb = $img.Fill (printf "%dx%d" $img.Height $img.Height) }}
  {{ else }}
    {{ $thumb = $img.Fill (printf "%dx%d" $img.Width $img.Width) }}
  {{ end }}

  <div class="col-6 col-md-4 col-xl-4 pb-3 px-2">
    <img
      src="{{ $thumb.RelPermalink }}"
      data-full="{{ $full.RelPermalink }}"
      alt="Gallery Image"
      class="img-fluid gallery-img"
      width="{{ $thumb.Width }}"
      height="{{ $thumb.Height }}"
    >
  </div>

{{ end }}
    </div>
  </div>
</section>

{{ end }}