<!DOCTYPE html>
<html lang="{{ .Lang }}">
<head>
 {{ partial "head" . }}
<script src="/js/lightbox.js"></script>
</head>
<body>
  <header>
    {{ partial "header" . }}
  </header>
  <main>
    {{ block "main" . }}{{ end }}
  </main>
  <footer>
    {{ partial "footer" . }}
  </footer>
  {{ partial "scriptFooter" . }}
  <div id="lightbox" class="lightbox-modal" onclick="this.style.display='none'">
    <img id="lightbox-img" src="" alt="">
  </div>
  <script src="/js/lightbox.js"></script>
</body>
</html>