<!DOCTYPE html>
<html lang="{{ .Lang }}">
<head>
  {{ partial "head" . }}
  <link rel="stylesheet" href="{{ "css/lightbox.css" | relURL }}">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>

<body class="d-flex flex-column min-vh-100">

  <header>
     <img class="site-logo" src="{{ .Site.Params.logo | relURL }}" alt="Logo">
    {{ partial "header" . }}
  </header>

  <main class="flex-fill">
    {{ block "main" . }}{{ end }}
  </main>

  {{ partial "scriptFooter" . }}

  <div id="lightbox" class="lightbox-modal" onclick="this.style.display='none'">
    <img id="lightbox-img" src="" alt="">
  </div>

  <script src="{{ "js/lightbox.js" | relURL }}"></script>

  <div class="mt-auto">
    {{ partial "footer.html" . }}
  </div>

</body>
</html>